body {
    background-color: #fdf0d5;
    font-family: Arial, Helvetica, sans-serif;
}

#data-container {
    margin: 20px 10px 0 10px;
    width: 320px;
    height: auto;
    padding: 5px;
    background-color: #003049;
    text-align: center;
    color: #fdf0d5;
    text-shadow: 1px 1px 2px #669bbc;
    margin: 40px auto;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;  /* centers buttons horizontally */
    gap: 15px;
    margin-top: 20px;
    border-radius: 8px;
    height: 30px;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#update-btn {
    background-color: #c1121f;
    color: white;
    border-radius: 8px;
    height: 30px;
}

#reset-btn {
    background-color: #669bbc;
    color: white;
    border-radius: 8px;
    height: 30px;
}



